# Telegram Bot
BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

# PostgreSQL (use "postgres" as host for Docker Compose)
DB_HOST=postgres
DB_PORT=5432
DB_USER=meetbro
DB_PASS=meetbro
DB_NAME=meetbro

# Redis (use "redis" as host for Docker Compose)
REDIS_URL=redis://redis:6379/0
